@import "normalize";
@import "reset";
@import "functions";
@import "font";
@import "grid";

@colorPrimary: #137a45;
@colorSecondary: #1aa860;
@colorTertiary: #2e4a42;
@bodyBackgroundColor: #fff;
@bodyColor: @colorTertiary;
@fontSizeBase: 16px;
@footerHeight: 176px;
@gridGutterWidth: 20px;
@gridMaxWidth: 900px;
@gridNumberOfColumns: 12;

html,
body {
  height: 100%;
}
body {
  color: @bodyColor;
  font-family: "Helvetica Neue", sans-serif;
  font-size: @fontSizeBase;
  line-height: 1;
}
a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  color: @colorPrimary;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    border-color: @colorSecondary;
    color: @colorSecondary;
  }
  &:focus,
  &:active {
    color: @bodyColor;
  }
}

#container {
  background-color: @bodyBackgroundColor;
  overflow-x: hidden;
  .clearfix();
  &.pinned {
    padding-top: (@gridGutterWidth * 2);
  }
}
.container {
  margin: 0 auto;
  max-width: @gridMaxWidth;
  padding: 0 (@gridGutterWidth / 2);
  position: relative;
  .clearfix();
}

.align-center {
  .align-center();
}
.align-center-absolute {
  .align-center();
  top: 50%;
}

#navigation {
  height: 60px;
  position: absolute;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  top: @gridGutterWidth;
  width: 100%;
  z-index: 999;
  a {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    font-weight: 600;
    display: inline;
    margin-right: @gridGutterWidth;
    padding-bottom: 1px;
    &:hover {
      border-color: #fff;
    }
    &:active {
      border-color: rgba(255, 255, 255, 0.75);
      color: rgba(255, 255, 255, 0.75);
    }
    &.home-link {
      background-image: url("../../images/logo-white.svg");
      background-position: 0 50%;
      background-repeat: no-repeat;
      background-size: 60px;
      border: 0;
      display: block;
      float: left;
      height: 60px;
      width: 60px;
    }
  }
  .column {
    float: left;
    width: 70%;
    &:last-child {
      width: 30%;
      a {
        margin-left: @gridGutterWidth;
        margin-right: 0;
      }
      .wrapper {
        float: right;
      }
    }
  }
  .wrapper {
    line-height: 60px;
  }
  &.pinned {
    background-color: #fff;
    height: 50px;
    opacity: 0.975;
    position: fixed;
    text-shadow: none;
    top: 0;
    .box-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
    .transition(all 100ms ease);
    a {
      border-bottom: 0;
      border-right: 1px solid #eee;
      color: @bodyColor;
      display: block;
      float: left;
      font-size: (@fontSizeBase - 2);
      margin: 0 !important;
      padding: 0 @gridGutterWidth;
      text-shadow: none;
      &:hover {
        background-color: rgba(7, 169, 95, 0.05);
        color: @colorSecondary;
      }
      &:first-child {
        border-left: 1px solid #eee;
      }
    }
    .home-link {
      background-image: url("../../images/logo-green.svg");
      background-position: 50% 50%;
      background-size: 25px;
      height: 50px;
      padding-right: 0;
      width: 65px;
    }
    .column:first-child {
      a {
        &:nth-child(2) {
          display: none;
        }
      }
    }
    .wrapper {
      line-height: 50px;
    }
  }
}

#top {
  background-color: @bodyBackgroundColor;
  background-image: url("../../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 10px solid @bodyBackgroundColor;
  height: 100%;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  #top-text {
    color: @bodyBackgroundColor;
    position: relative;
    h1 {
      font-family: "Adelle Thin Italic", sans-serif;
      font-size: (@fontSizeBase * 3);
      line-height: 1.15;
    }
    p {
      font-size: (@fontSizeBase + 8);
      line-height: 1.25;
      margin: @gridGutterWidth 0;
      &:last-child {
        line-height: 1;
        margin-top: 0;
      }
    }
    .button {
      border-radius: 2px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      color: #fff;
      display: block;
      float: left;
      font-size: @fontSizeBase;
      font-weight: 600;
      line-height: 1.25;
      margin-right: (@gridGutterWidth + 2);
      padding: 8px 12px;
      .user-select(none);
      &:hover {
        border-color: #fff;
      }
      &:active {
        border-color: rgba(255, 255, 255, 0.75);
        color: rgba(255, 255, 255, 0.75);
        .box-shadow(0 0 10px rgba(0, 0, 0, 0.25) inset);
      }
      &:last-child {
        background-color: rgba(23, 92, 50, 0.75);
        background-image: -webkit-linear-gradient(top, rgba(31, 127, 69, 0.25) 0%, rgba(23, 92, 50, 0.25) 100%);
        border: 0;
        padding: 10px 12px;
        &:hover {
          background-image: -webkit-linear-gradient(top, darken(rgba(31, 127, 69, 0.25), 15%) 0%, darken(rgba(23, 92, 50, 0.25), 15%) 100%);
        }
      }
    }
  }
  #scroll-button {
    background-image: url("../../images/header-scroll.png");
    background-repeat: no-repeat;
    border-radius: 2px 2px 0 0;
    border: 0;
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 20px;
    margin: 0 auto;
    position: absolute;
    width: 35px;
    left: 50%;
    margin-left: -17px;
  }
}

#content {
  .grid-row {
    margin-bottom: 0;
    padding: (@gridGutterWidth * 4) 0;
    &:first-child {
      margin-top: -10px;
    }
    &:nth-child(even) {
      background-color: #f5f5f5;
      .text {
        float: right;
        padding-left: (@gridGutterWidth * 2);
        padding-right: 0;
      }
      .image {
        float: left;
      }
    }
    &:last-child {
      margin: 0;
    }
  }
  .text {
    float: left;
    width: 600px;
    padding-right: (@gridGutterWidth * 2);
  }
  .image {
    float: right;
    position: relative;
    img {
      background-color: #555;
      border-radius: 280px;
      height: 280px;
      width: 280px;
    }
  }
  h1 {
    font-family: "Adelle Thin", sans-serif;
    font-size: @fontSizeBase + 12;
    line-height: 1.15;
    margin-bottom: @gridGutterWidth;
  }
  p {
    font-size: @fontSizeBase;
    line-height: 1.45;
    margin-bottom: @gridGutterWidth;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

#footer {
  background-color: @bodyColor;
  color: @bodyBackgroundColor;
  font-size: (@fontSizeBase - 2);
  padding: (@gridGutterWidth * 4) 0;
}
