/**
* Import External Stylesheets
*/
@import "normalize";
@import "reset";
@import "functions";
@import "font";
@import "grid";
@import "button";

/**
* Variables
*/
@colorPrimary: #00a85d;
@colorSecondary: lighten(@colorPrimary, 10%);
@colorTertiary: #2e4a42;
@backgroundColor: #fff;
@color: @colorTertiary;
@fontSize: 16px;
@gridGutterWidth: 20px;
@gridMaxWidth: (900 + @gridGutterWidth);
@gridNumberOfColumns: 12;

/**
* Main Body
*/
html,
body {
  height: 100%;
}
body {
  color: @color;
  font-family: "Helvetica Neue", sans-serif;
  font-size: @fontSize;
  line-height: 1;
}

/**
* Typography
*/
h1 {
  font-family: "Adelle Thin", serif;
  font-size: (@fontSize * 1.75);
  line-height: 1;
}
p {
  line-height: 1.45;
  margin-top: @gridGutterWidth;
}
a {
  border-bottom: 1px solid #ccc;
  color: @colorPrimary;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    border-color: @colorSecondary;
    color: @colorSecondary;
  }
  &:focus,
  &:active {
    border-color: #bbb;
    color: #bbb;
  }
}

/**
* Main Navigation
*/
#navigation {
  height: 60px;
  position: absolute;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  top: @gridGutterWidth;
  width: 100%;
  z-index: 999;
  a {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    font-weight: 600;
    margin-right: @gridGutterWidth;
    padding-bottom: 2px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      border-color: #fff;
    }
    &:active {
      border-color: rgba(255, 255, 255, 0.75);
      color: rgba(255, 255, 255, 0.75);
    }
  }
  .home-link {
    background-image: url("../../images/logo-white.svg");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 60px;
    border: 0;
    display: block;
    float: left;
    height: 60px;
    padding: 0 !important;
    width: 60px;
  }
  .wrapper {
    line-height: 60px;
  }
  .grid-column:last-child {
    .wrapper {
      float: right;
    }
  }
}
#navigation.pinned-to-top {
  .box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
  .transition(all 100ms ease);
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 51px;
  position: fixed;
  text-shadow: none;
  top: 0;
  a {
    border-bottom: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    color: @color;
    display: block;
    float: left;
    font-size: (@fontSize - 2);
    margin-right: 0;
    padding: 0 15px;
    &:last-child {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    &:hover {
      background-color: lighten(@colorPrimary, 60%);
      color: @colorPrimary;
    }
    &:active {
      color: @colorSecondary;
    }
  }
  .home-link {
    background-color: transparent;
    background-image: url("../../images/logo-green.svg");
    background-position: 50% 50%;
    background-size: 25px;
    height: 50px;
    width: 55px;
  }
  .wrapper {
    line-height: 50px;
  }
}

/**
* Layout Containers
*/
#container {
  background-color: @backgroundColor;
  margin-bottom: (@gridGutterWidth * 3);
  min-height: 100%;
  overflow-x: hidden;
  .clearfix();
}
.container {
  margin: 0 auto;
  max-width: @gridMaxWidth;
  padding: 0 (@gridGutterWidth / 2);
  position: relative;
  .clearfix();
}

/**
* Top
*/
#top {
  background-color: @colorPrimary;
  background-image: url("../../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 10px solid @backgroundColor;
  height: 100%;
  position: relative;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  .container {
    height: 100%;
  }
  #top-text {
    color: #fff;
    position: relative;
  }
  h1 {
    font-family: "Adelle Thin Italic", sans-serif;
    font-size: (@fontSize * 3);
    line-height: 1.15;
  }
  p {
    font-size: (@fontSize + 8);
    line-height: 1.25;
    margin: @gridGutterWidth 0;
    &:last-child {
      .clearfix();
      line-height: 1;
      margin-top: 0;
    }
  }
  .button-light {
    border-color: rgba(255, 255, 255, 0.75);
    color: #fff !important;
    &:hover {
      border-color: rgb(255, 255, 255);
    }
    &:active {
      .box-shadow(0 0 5px rgba(255, 255, 255, 0.1) inset);
      border-color: rgba(255, 255, 255, 0.60);
    }
  }
  .button-dark {
    .linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.3) 100%);
    color: #fff !important;
  }
}

/**
* Index
*/
#index {
  padding: (@gridGutterWidth * 3) 0;
  &.extra-padding {
    padding: ((@gridGutterWidth * 3 * 2) - 10) 0 (@gridGutterWidth * 3) !important;
  }
}
#index .grid-row {
  margin-bottom: 0;
  padding: (@gridGutterWidth * 3) 0;
  &:first-child {
    padding-top: 0;
  }
  &:nth-child(even) {
    background-color: lighten(@colorPrimary, 60%);
    .text {
      float: right;
      padding-left: (@gridGutterWidth * 2);
      padding-right: 0;
    }
    .image {
      float: left;
    }
  }
  &:last-child {
    padding-bottom: 0;
  }
}
#index .text {
  float: left;
  padding-right: (@gridGutterWidth * 2);
  width: 600px;
}
#index .image {
  float: right;
  position: relative;
  img {
    background-color: #555;
    border-radius: 280px;
    height: 280px;
    width: 280px;
  }
}

/**
* Page
*/
#page {
  padding: ((@gridGutterWidth * 3 * 2) - 10) 0 (@gridGutterWidth * 3);
}

/**
* Single
*/
#single {
  padding: ((@gridGutterWidth * 3 * 2) - 10) 0 (@gridGutterWidth * 3);
}

/**
* Main Footer
*/
#footer {
  background-color: @colorTertiary;
  color: #fff;
  font-size: (@fontSize - 2);
  height: (@gridGutterWidth * 3);
  line-height: (@gridGutterWidth * 3);
  margin-top: -(@gridGutterWidth * 3);
  text-align: center;
}
