/**
* Import External Stylesheets
*/
@import "normalize";
@import "reset";
@import "functions";
@import "font";
@import "grid";
@import "button";
@import "table";

/**
* Variables
*/
@colorPrimary: #4c8c51;
@colorSecondary: lighten(@colorPrimary, 10%);
@colorTertiary: #2e4a42;
@backgroundColor: #fff;
@color: @colorTertiary;
@fontSize: 16px;
@footerHeight: 435px;
@gridGutterWidth: 20px;
@gridMaxWidth: (900 + @gridGutterWidth);
@gridNumberOfColumns: 12;

/**
* Main Body
*/
html,
body {
  height: 100%;
}
body {
  color: @color;
  font-family: "Helvetica Neue", sans-serif;
  font-size: @fontSize;
  line-height: 1;
}

/**
* Typography
*/
h1 {
  font-family: "Adelle Thin", serif;
  font-size: (@fontSize * 1.75);
  line-height: 1;
}
h2 {
  font-family: "Adelle Light", serif;
  font-size: @fontSize;
  line-height: 1;
  text-transform: uppercase;
  margin-top: (@gridGutterWidth * 3);
}
p {
  line-height: 1.45;
  margin-top: @gridGutterWidth;
}
a {
  border-bottom: 1px solid #ccc;
  color: @colorPrimary;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    border-color: @colorSecondary;
    color: @colorSecondary;
  }
  &:focus,
  &:active {
    border-color: #bbb;
    color: #bbb;
  }
}
abbr,
abbr[title] {
  border-bottom: 1px dotted @colorPrimary;
  cursor: help;
}
code {
  background-color: rgba(76, 140, 81, 0.15);
  color: @colorPrimary;
  font-family: Menlo, monospace;
  font-size: (@fontSize - 4);
  margin: 0 2px;
  padding: 4px;
  position: relative;
  top: -1px;
}

/**
* Main Navigation
*/
#navigation {
  height: 60px;
  position: absolute;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  top: @gridGutterWidth;
  width: 100%;
  z-index: 999;
  a {
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    font-weight: 600;
    margin-right: @gridGutterWidth;
    padding-bottom: 2px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      border-color: #fff;
    }
    &:active {
      border-color: rgba(255, 255, 255, 0.75);
      color: rgba(255, 255, 255, 0.75);
    }
  }
  .home-link {
    background-image: url("../../images/logo-white.svg");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 60px;
    border: 0;
    display: block;
    float: left;
    height: 60px;
    padding: 0 !important;
    width: 60px;
  }
  .wrapper {
    line-height: 60px;
  }
  .grid-column:last-child {
    .wrapper {
      float: right;
    }
  }
}
#navigation.pinned-to-top {
  .box-shadow(0 1px 2px #ddd);
  .transition(all 100ms ease);
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  height: 51px;
  position: fixed;
  text-shadow: none;
  top: 0;
  a {
    border-bottom: 0;
    border-left: 1px solid #ddd;
    color: @color;
    display: block;
    float: left;
    font-size: (@fontSize - 2);
    margin-right: 0;
    padding: 0 15px;
    &:last-child {
      border-right: 1px solid #ddd;
    }
    &:hover,
    &.active {
      background-color: rgba(76, 140, 81, 0.1);
      color: @colorPrimary;
    }
    &:active {
      color: @colorSecondary;
    }
  }
  .home-link {
    background-color: transparent;
    background-image: url("../../images/logo-green.svg");
    background-position: 50% 50%;
    background-size: 25px;
    height: 50px;
    width: 55px;
  }
  .wrapper {
    line-height: 50px;
  }
}

/**
* Layout Containers
*/
#container {
  background-color: @backgroundColor;
  margin-bottom: @footerHeight;
  min-height: 100%;
  overflow-x: hidden;
  .clearfix();
}
.container {
  margin: 0 auto;
  max-width: @gridMaxWidth;
  padding: 0 (@gridGutterWidth / 2);
  position: relative;
  .clearfix();
}

/**
* Top
*/
#top {
  background-color: @colorPrimary;
  background-image: url("../../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 10px solid @backgroundColor;
  height: 100%;
  position: relative;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  .container {
    height: 100%;
  }
  #top-text {
    color: #fff;
    position: relative;
  }
  h1 {
    font-family: "Adelle Thin Italic", sans-serif;
    font-size: (@fontSize * 3);
    line-height: 1.15;
  }
  p {
    font-size: (@fontSize + 8);
    line-height: 1.25;
    margin: @gridGutterWidth 0;
    &:last-child {
      .clearfix();
      line-height: 1;
      margin-top: 0;
    }
  }
  .button-light,
  .button-dark {
    font-size: @fontSize;
  }
  .button-light {
    padding: 8px;
  }
  .button-dark {
    padding: 10px;
  }
  #scroll-button {
    background-image: url("../../images/header-scroll.png");
    background-repeat: no-repeat;
    border-radius: 2px 2px 0 0;
    border: 0;
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 20px;
    left: 50%;
    margin-left: -17px;
    margin: 0 auto;
    position: absolute;
    width: 35px;
  }
}

/**
* Index
*/
#index {
  padding: (@gridGutterWidth * 3) 0;
  &.navigation-is-pinned {
    padding: ((@gridGutterWidth * 3 * 2) - 10) 0 (@gridGutterWidth * 3) !important;
  }
}
#index .grid-row {
  margin-bottom: 0;
  padding: (@gridGutterWidth * 3) 0;
  &:first-child {
    padding-top: 0;
  }
  &:nth-child(even) {
    background-color: rgba(76, 140, 81, 0.1);
    .text {
      float: right;
      padding-left: (@gridGutterWidth * 2);
      padding-right: 0;
    }
    .image {
      float: left;
    }
  }
  &:last-child {
    padding-bottom: 0;
  }
}
#index .text {
  float: left;
  padding-right: (@gridGutterWidth * 2);
  width: 600px;
}
#index .image {
  float: right;
  position: relative;
  img {
    background-color: #555;
    border-radius: 280px;
    height: 280px;
    width: 280px;
  }
}

/**
* Page
*/
#page {
  padding: ((@gridGutterWidth * 3 * 2) - 10) 0 (@gridGutterWidth * 3);
  > .grid-row {
    margin-bottom: 0;
  }
  p {
    padding-right: 25%;
  }
}
#page #breadcrumbs {
  font-size: (@fontSize - 2);
  margin-bottom: (@gridGutterWidth * 3);
}
#page .box {
  background-color: #ccc;
  height: 250px;
  margin-top: @gridGutterWidth;
  position: relative;
  a {
    &:hover {
      .text {
        display: block;
      }
    }
  }
  .image {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .text {
    .transition(all 500ms ease);
    background-color: rgba(76, 140, 81, 0.75);
    color: #fff;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    .text-wrapper {
      padding: (@gridGutterWidth * 2 + 4) (@gridGutterWidth * 2);
    }
    h3,
    p {
      display: block;
      padding: 0;
      text-align: center;
    }
    h3 {
      font-family: "Adelle Italic", sans-serif;
      font-size: (@fontSize + 4);
    }
    p {
      font-family: "Adelle Thin", sans-serif;
      margin: @gridGutterWidth 0;
    }
    .price {
      font-weight: 600;
      font-size: (@fontSize + 4);
    }
    .availability {
      background-color: rgba(255, 255, 255, 0.75);
      height: 10px;
      .bar {
        background-color: rgba(76, 140, 81, 0.5);
        height: 100%;
        width: 100%;
      }
    }
  }
}

/**
* Single
*/
#single {
  padding: ((@gridGutterWidth * 3 * 2) - 10) 0 (@gridGutterWidth * 3);
}

/**
* List
*/
.list {
  list-style: none;
  .list-item {
    border-bottom: 2px solid #777;
    display: block;
    font-size: (@fontSize - 2);
    line-height: 1.35;
    padding: 10px 0;
    &:first-child {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  h1 {
    font-size: @fontSize;
  }
  a {
    border: 0;
    color: #bbb;
    display: block;
    &:hover {
      color: @colorSecondary;
    }
  }
}

/**
* Main Footer
*/
#footer {
  background-color: @colorTertiary;
  color: #fff;
  font-size: (@fontSize - 2);
  height: @footerHeight;
  margin-top: -@footerHeight;
  padding: (@gridGutterWidth) 0;
}
#footer .grid-row {
  margin-bottom: 0;
  margin-left: (@gridGutterWidth / -1);
  margin-right: (@gridGutterWidth / -1);
  padding: (@gridGutterWidth) 0;
}
#footer .grid-column {
  padding: 0 @gridGutterWidth;
}
#footer img {
  width: 100%;
  height: auto;
}
