.table {
  .box-shadow(0 1px 2px #eee);
  background-color: #fff;
  border: 1px solid #ededed;
  font-size: (@fontSize - 4);
  margin-top: @gridGutterWidth;
  padding: 5px;
  width: 100%;
  .table-row() {
    .clearfix();
    background-color: #f5f9f6;
    line-height: 51px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 8px;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .table-row {
    .table-row();
  }
  .table-cell {
    float: left;
    width: 10%;
  }
  .table-header {
    .table-row();
    background: none;
    font-weight: 600;
    line-height: 1;
    padding: 5px 10px;
    .table-cell {
      font-size: (@fontSize - 6);
      text-transform: uppercase;
    }
  }
  .table-options {
    text-align: right;
    .button-light,
    .button-dark {
      display: inline-block;
      float: none;
      font-size: (@fontSize - 4);
      margin-left: 5px;
      margin-right: 0;
      position: relative;
      top: 1px;
    }
    .button-light {
      padding: 6px;
    }
    .button-dark {
      padding: 8px;
    }
  }
  .table-cell-span-1 {
    width: 10%;
  }
  .table-cell-span-2 {
    width: 20%;
  }
  .table-cell-span-3 {
    width: 30%;
  }
  .table-cell-span-4 {
    width: 40%;
  }
  .table-cell-span-5 {
    width: 50%;
  }
  .table-cell-span-6 {
    width: 60%;
  }
  .table-cell-span-7 {
    width: 70%;
  }
  .table-cell-span-8 {
    width: 80%;
  }
  .table-cell-span-9 {
    width: 90%;
  }
  .table-cell-span-10 {
    width: 100%;
  }
}
